@import '../../common/variables.scss';

header {
  background-color: $blue;
  color: $white;
  padding: 15px 20px;

  .brand-name {
    font-size: 22px;
    color: $white;
    text-decoration: none;
    font-weight: bold;
  }
  .cart-icon {
    width: 20px;
    height: 20px;
  }
  .cart-length {
    color: $white;
    margin-left: 20px;
    display: inline-block;
  }
  .cart-icon {
    color: $white;
    font-size: 30px;
  }
}