.plus-minus-icon {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: inline-block;
  border: 1px solid #9d9cdc;
  font-size: 18px;
}
.cart-item {
  border: 2px solid #0c0c63;
  padding: 10px;
  margin-bottom: 10px;
}
.product-quantity {
  font-size: 18px;
  margin: 10px;
}